.app{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app .panel{
  width: 400px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.app .panel label{
  margin-top: 10px;
  font-weight: bold;
}

.app .panel input, select, textarea{
  height: 28px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.app .panel select{
  height: 34px;
}
.app .panel textarea{
  height: 100px;
}
.app .panel button{
  height: 35px;
  border: none;
  background: dodgerblue;
  color: white;margin-top: 15px;
}
.app .panel button:hover{
  cursor: pointer;
  opacity:0.8;
}